.archives {
    margin-top: 2rem;
    .card {
        a {
            //display: block;
            &.title {
                margin-bottom: .2rem;
                display: block;
            }
            &.button {
                color: $white !important;
            }
        }
    }
}