.wp-block-button__link, .woocommerce a.button {
    font-size: 75%;
    font-weight: 600;
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0.375em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 0.55em;
    text-align: center;
    white-space: nowrap;
    opacity: 1;
    margin-bottom: 1em;
    line-height: 1.4;
    border-radius: 100px;
    &.has-white-color, &.add_to_cart_button, &.product_type_variable {
        color: $white;
    }
    &.has-black-color {
        color: $black;
    }
    &.has-purple-background-color {
        background-color: $primary;
    }
    &.has-green-background-color, &.add_to_cart_button, &.product_type_variable {
        background-color: $green;
    }
    &.has-grey-background-color {
        background-color: $grey;
    }
    &:hover, &:focus {
        opacity: .7;
    }
}

.home .button {
    &.is-link {
        color: $white !important;
    }
}