.ginput_container, .woocommerce-form {
    &.ginput_container_radio li, &.ginput_container_checkbox li  {
        overflow: visible !important;
        margin-left: .5em !important;
        input {
            margin-right: 1em !important;
        }
    }
    span {
        margin-bottom: 1rem;
    }
    input {
        border-radius: 100px;
    }
    textarea {
        border-radius: 5px;
    }
    input,
    select,
    textarea {
        width: 100%;
    }
    input,
    textarea {
        margin: 0;
        border: 1px solid $dark-brown;
        padding: .25em .75em !important;
        margin: 0 -0.35em !important;
        &:focus {
            outline: none !important;
            border-color: $green !important;
        }
    }
    
    .gform_button {
        border-radius: 100px;
    }
}

.gf_login_links {
    margin-bottom: 1rem;
    a:first-of-type {
        display: none;
    }
}

.searchform {
    .control {
        max-width: 400px;
    }
    label {

    }
    .input-wrap {
        display: flex;
    }
    .input {
        border-radius: 100px 0 0 100px;
        padding-left: 1.4em;
    }
    .button {
        border-radius: 0 100px 100px 0;
    }
}

.post-edit-link {
    font-size: .6rem;
    font-weight: lighter;
    padding: .5em .75em;
    border: 1px solid $green;
    border-radius: 100px;
}

.woocommerce-MyAccount-content {
    .edit {
        font-size: .6rem;
        font-weight: lighter;
        padding: .5em .75em;
        border: 1px solid $green;
        border-radius: 100px;
    }
    .woocommerce-Address-title {
        &::before, &::after {
            display: none !important;
            content: '' !important;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            margin-bottom: 0;
        }
    }
}