.site-header {
    @include mobile {
        padding: 0 2rem;
        margin: 0;
    }
    @include tablet-only {
        a {
            font-size: 12px !important;
        }
    }
    @include from($desktop) {
        width: 100%;
    }
    > .level {
        margin-bottom: 1.8rem;
        padding: 0 2rem;
    }
    .languages {
        text-transform: uppercase;
        &.current_lang {
            font-weight: 900;
        }
        &:first-of-type {
            border-right: 1px solid;
            padding-right: 1em;
        }
    }
    .header-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            border-right: 1px solid;
            &:last-of-type {
                border-right: none;
            }
            &.current-menu-item a {
                font-weight: 900;
            }
            a {
                padding: 0 1em;
                line-height: 1.6;
                display: block;
                
            }
        }
    }
    .navbar {
        border-radius: 3px;
        box-shadow:  0 8px 8px rgba(0,0,0,0.1);
        width: 100%;
        @include mobile {
            margin: 2rem 1.5rem 0;
            width: auto;
        }
        @include from($desktop) {
            margin: 0 0 -2px 0;
        }
        a:not(.custom-logo-link) {
            font-size: 16px;
            border-bottom: 1px solid transparent;
            font-weight: 500;
            color: $black-ter;
            &:hover, &:focus {
                border-bottom: 1px solid $primary;
                background-color: transparent;
            }
        }
    }
    .navbar-brand {
        align-items: center;
    }
    @include from($desktop) {
        .navbar-brand {
            padding-right: 3rem;
        }    
    }
    .navbar-menu {
        border-radius: 3px;
        padding: 0 .25em;
    }
    .top-nav {
        padding-top: 1rem;
        text-align: right;
        a {
            color: $grey-dark;
            font-size: 12px;
            &:hover, &:focus {
                color: $link;
            }
            &.divider-right:after {
                content: " |";
                padding-left: .5em;
            }
        }
    }
    .custom-logo-link {
        max-width: 16rem;
    }
    @include mobile {
        .custom-logo-link {
            width: 9rem;
            margin-left: .5rem;
        }
    }

    .navbar-search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        margin-right: 1em;
    }
}


ul.mega-sub-menu {
    box-shadow:  0 8px 8px rgba(0,0,0,0.1) !important;
}

.search-icon::before {
    color: $black !important;
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
    #mega-menu-wrap-primary {
        margin: 0 1rem 1rem 1rem !important;
    }
}