.content-area {
    aside {
        section {
            max-width:15rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid $beige-lighter;
            padding-bottom: 2rem;
        }
    }
}

aside {
    .current_page_item a {
        color: $black-ter !important;
    }
    .members-login-form {
        .login-remember {
            margin-bottom: 1rem;
        }
        
    }
}