.widget-area {
    padding-left: 3rem;
    font-size: 90%;
    .widget-title {
        font-weight: 700;
        margin-bottom: .5em;
        color: $black-ter;
    }
    ul {
        list-style-type: none;
        line-height: 1.8;
        li {
            color: $grey-darker;
            //&:first-of-type {
               // font-weight: bold;
            //}
        }
    }
}

small {
    display: inline-block;
    line-height: 1.4 !important;
    font-size: .6rem !important;
}

hr {
    margin: .5rem 0;
}

.round {
    border-radius: 20000px;
}

.has-text-secondary {
    color: #8ec167 !important;
}

.title {
    &.is-1 {
        font-size: 2rem !important;
    }
    &.is-2 {
        font-size: 1.55rem !important;
    }
    &.is-3 {
        font-size: 1.3rem !important;
    }
}