.widget-area {
    padding-left: 3rem;
    font-size: 90%;
    .widget-title {
        font-weight: 700;
        margin-bottom: 1em;
    }
    ul {
        list-style-type: disc;
        line-height: 1.8;
        li {
            &:first-of-type {
                font-weight: bold;
            }
        }
    }
}

small {
    display: inline-block;
    line-height: 1.4 !important;
    font-size: .6rem !important;
}

hr {
    margin: .5rem 0;
}

.round {
    border-radius: 20000px;
}