.woocommerce {
    .breadcrumb {
        li + li::before {
            color: $grey-darker;
        }
        li:last-of-type::before {
            padding-right: .8em;
        }
    }
    .woocommerce-product-gallery__image {
        //margin-top: 1em;
        //padding: .5em
        //margin-bottom: 1rem;
    }
    ul.products {
        li.product {
            .woocommerce-loop-product__title {
                font-weight: bold;
                padding-bottom: 0;
                font-size: 80%;
            }
            .price {
                color: $dark-brown;
                font-weight: bolder;
            }
            .button {
                margin-top: 0;
            }
        }
    }
}

.wc-block-grid__products {
    list-style-type: none !important;
    margin-left: 0 !important;
}

.single-product {
    .cart {
        margin-top: 1rem;
        input[type=number] {
            line-height: 2.8;
        }
    }
    .reset_variations {
        display: block;
    }
    input[type=number] {
        //font-size: 120%;
        font-weight: bolder;
        text-align: center;
    }

    .product_title {
        font-weight: bolder;
        font-size: 150%;
        padding-top: .5em !important;
    }
    .price {
        margin-top: 2rem;
        .woocommerce-Price-amount {
            color: $dark-brown;
        }
    }
    .woocommerce-product-details__short-description {
        margin-top: 1rem;
        font-size: 90%;
    }
}

.woocommerce .button {
    height: auto !important;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: $primary !important;
}


body #add_payment_method #payment ul.payment_methods li input,
body.woocommerce-cart #payment ul.payment_methods li input,
body.woocommerce-checkout #payment ul.payment_methods li input { width: auto; margin: -2px .5em 0 0; }
body .woocommerce form .form-row .input-checkbox { width: auto; margin: -2px 5px 0 0; }
body.woocommerce-checkout .cart-collaterals .cart_totals tr td,
body.woocommerce-checkout .cart-collaterals .cart_totals tr th,
body .woocommerce table.shop_table th {
border-top: none;
border-bottom: 1px solid #e6e6e6;
border-right: 1px solid #e6e6e6;
text-align: right;
padding: 10px 20px;
}
body .woocommerce table.shop_table td { padding: 15px; }
body .woocommerce-checkout table.shop_table td { width:50%;
text-align: right;
border-right: 1px solid #e6e6e6; border-top: 0; }
body .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.25em;
    padding: 1em;
    border-radius: 50px;
    margin-top: .5em;
    }
    body .woocommerce form .form-row-first,
body .woocommerce form .form-row-last,
body .woocommerce-page form .form-row-first,
body .woocommerce-page form .form-row-last { width: 49%; }
.woocommerce-checkout .woocommerce .col2-set { width: 47%; float: left; margin-right: 1%; }
.woocommerce-checkout .woocommerce .col2-set .col-1,
.woocommerce-checkout .woocommerce .col2-set .col-2 { margin-bottom: 2em; width: 100%; float: none; }
.woocommerce-checkout #order_review_heading,
.woocommerce-checkout #order_review { background: #fff; width: 47%; float: right; margin-right: 0; }

@media only screen and (max-width: 650px) {
    .woocommerce-checkout .woocommerce .col2-set { width: 100%; float: none; margin-right: 0; }
    .woocommerce-checkout #order_review_heading,
    .woocommerce-checkout #order_review { width: 100%; float: none; }
}

.woocommerce-MyAccount-navigation {
    ul {
        list-style-type: none;
        margin-left: 0;
    }
}