.woocommerce {
    .breadcrumb {
        li + li::before {
            color: $grey-darker;
        }
        li:last-of-type::before {
            padding-right: .8em;
        }
    }
    .woocommerce-product-gallery__image {
        //margin-top: 1em;
        padding: .5em
    }
}

.single-product {
    .cart {
        margin-top: 1rem;
        input[type=number] {
            line-height: 2.8;
        }
    }
}

.woocommerce .button {
    height: auto !important;
}