.main-nav {
	@include breakpoint(medium up) {
		margin-bottom: -.7em;
	}
	color: $white;
	.menu-item {
		a {
			font-size: rem-calc(14);
			font-weight: 600;
			font-family: $header-font-family;
			text-transform: uppercase;
			&:hover, &:focus {
				color: lighten($secondary-color, 10%);
			}
		}
		&.current-menu-item a {
			color: $secondary-color;
		}

		.icon {
			width: .8em;
			height: .7em;
		}
	}
	
}

@include breakpoint(medium up) {
	.menu-toggle {
		display: none;
	}
}

.site-footer {
	.menu {
		margin-bottom: 1em;
		a {
			padding-bottom: .25rem;
			padding-top: .25rem;
		}
	}
}