.site-footer {
	background: get-color(third);
	color: $white;
	font-size: 80%;
	padding-top: 1rem;
	small {
		line-height: 1.1;
		display: inline-block;
	}

	p {
		padding: 0 1rem;
		&.no-padding {
			padding: 0;
		}
	}
}